body {
    margin: 0;
}

.parent-about{
    background-color: white;
    padding: 50px;
    margin: 0 auto;

    width: 100%;
}

.child-about{
    background-color: aqua;
    margin: 0 aut;
    padding: 5rem;
}