.list-container {
    display: flex;
    flex-direction: column;

}

.booking-container {
    display: flex;
    flex-direction: column;
  
}

.item-container {
    display: flex;
    flex-direction: column;
}