/* Calendar.css */
.calendar-container {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;  /* Adjust width based on viewport width */
  max-width: 500px;  /* Still cap the max width for very large screens */
  margin: 20px auto;
}

.calendar-nav {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-nav button {
  padding: 10px 20px;
  font-size: 16px;  /* Larger font size for better readability */
  background-color: #007bff;  /* A friendly blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.calendar-nav button:hover {
  background-color: #0056b3;  /* Darker blue on hover */
}

.month-year {
  font-size: 32px; /* Consider using vw for smaller screens if necessary */
  color: #333;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  /* Flexibility with grid columns using 1fr */
  gap: 2vw;  /* Use vw for gaps for consistent scaling */
}

.calendar-day {
  padding: 15px;  /* Increased padding for better touch targets on mobile */
  background-color: #fff;
  border: 1px solid #ddd;
  min-height: 50px;  /* Increased minimum height for a more square look */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

/* Hover effect for days */
.calendar-day:hover {
  background-color: #ff8c00;
  cursor: pointer;
}
