/* Global styles for the calendar */
.calendar-container {
 
  text-align: center;
  padding: 1rem;
  background-color: rgba(248, 248, 248, 0.6); /* Adjust the alpha value to increase/decrease transparency */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 500px;
  margin: 75px auto;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /* Ensures the image can stretch up to the full width of its container */
  height: 100%; /* Ensures the image can stretch up to the full height of its container */
  z-index: -1; /* Ensure it stays behind other content */
  object-fit: contain; /* Fit the image within the container without cropping */
  object-position: center; /* Center the image within the container */
}

.calendar-nav {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-nav button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-nav button:hover {
  background-color: #0056b3;
}

.month-year {
  font-size: 1.5rem;
  color: #333;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.calendar-day:hover {
  background-color: #ff8c00;
  cursor: pointer;
}

.calendar-day.selected-day {
  background-color: #ff8c00;
  color: white;
}
.grid-time {
  display: flex;
  justify-content: space-between;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
  .calendar-container {
    max-width: 95%;
    padding: 10px;
  }

  .month-year, .calendar-nav button {
    font-size: 0.9rem;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-day {
    padding: 8px;
    font-size: 0.8rem;
  }

  .contact-info input, .comments-section textarea, .time-slot {
    font-size: 0.8rem;
  }
}

/* Adjustments for CONTACT */

.contact-info, .comments-section {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-info input, .comments-section textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button Styles */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}


