/* Global styles for the calendar */
.calendar-container {
  text-align: center;
  padding: 1.25rem;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

.calendar-nav {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-nav button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-nav button:hover {
  background-color: #0056b3;
}

.month-year {
  font-size: 1.5rem;
  color: #333;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.calendar-day:hover {
  background-color: #ff8c00;
  cursor: pointer;
}

.calendar-day.selected-day {
  background-color: #ff8c00;
  color: white;
  font-weight: bold;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
  .calendar-container {
    max-width: 95%;
    padding: 10px;
  }

  .month-year, .calendar-nav button {
    font-size: 0.9rem;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-day {
    padding: 8px;
    font-size: 0.8rem;
  }

  .contact-info input, .comments-section textarea, .time-slot {
    font-size: 0.8rem;
  }
}

/* Adjustments for Contact Information and Comments Section */
.contact-info, .comments-section {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-info input, .comments-section textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.time-slot {
  margin: 5px;
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.time-slot:hover, .time-slot.selected-time {
  background-color: #007bff;
  color: white;
}

/* Button Styles */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}
