.header {
    position: fixed; /* Fixes the header at the top of the viewport */
    top: 0; /* Aligns the header to the top edge of the viewport */
    left: 0; /* Aligns the header to the left edge of the viewport */
    width: 100%; /* Ensures the header extends across the full width of the viewport */
    z-index: 1000; /* Ensures the header stays on top of other content */
    background-color: transparent; /* Starts with a transparent background */
    color: white;
    padding: 0px 10px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility when scrolled */
}

  
  .header.transparent {
    background-color: transparent;
    color: white; /* Ensures text is visible if the background is dark */
  }

  .header.scrolled {
    background-color: rgb(38, 38, 38); /* Adjust the alpha value to increase/decrease transparency */

    
  }

  .navbar img {
    width: 70px;
    height: auto;
    object-fit: contain;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; /* Align items on both ends */
    align-items: center;
    padding: 0 10px; /* Adjusted padding */
    width: 100%;
  }
  
  .nav-list {
    display: flex;
    justify-content: center; /* Centering items within each list */
    list-style: none;
    padding: 0;
    gap: 20px;
  }
  
  .nav-item {
    padding: 10px 15px;
    transition: transform 0.3s ease;
  }
  
  .nav-item:hover {
    transform: scale(1.075);
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #eaa000;
  }
  
  @media (max-width: 768px) {
    .navbar {
      justify-content: space-around; /* Adjust spacing on smaller screens */
    }
  
    .nav-item {
      padding: 10px; /* Larger touch targets on smaller screens */
    }
  }
  