.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 15px; /* Increased side padding for better spacing */
  background-color: transparent;
  min-height: 50px; /* Ensures a consistent height */
  align-items: center; /* Centers items vertically */
  transition: all 0.3s ease;
}


.nav-list {  
  display: flex;
  justify-content: center; /* Centers navigation items */
  list-style: none;
  flex-grow: 1; /* Allows it to expand and push account actions to the right */
  margin: 10px; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: block; /* Makes the entire area clickable */
  padding: 10px 5px; /* Larger area for easier touch */
}

.nav-link:hover, .nav-link:focus {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle hover effect */
}



@media (max-width: 768px) {
  .nav-list {
    flex-direction: row; /* Stacks items vertically */
    align-items: center; /* Center align items when stacked */
    padding: 0;
    
  }

  .nav-item {
    padding: 10px;
  }
}

.account-action {
  display: flex;
  justify-content: end;
}

.header-button {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #007bff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}