Header.css
.header {
    background-color: #007bff; /* Blue background */
    color: white;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: center; /* Centering the navbar */
  }
  
  .nav-list {
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Creates space between links */
  }
  
  .nav-item {
    padding: 10px 15px; /* Padding around each nav item */
    transition: transform 0.3s ease;
  }
  .nav-item:hover {
    transform: scale(1.075); /* Slightly enlarge logos on hover */

  }
  
  .nav-link {
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from links */
    font-size: 24px; /* Sets font size */
    transition: color 0.2s ease;   
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #eaa000; /* Changes color on hover/focus */
  }
  
  @media (max-width: 768px) {
    .navbar {
      justify-content: space-around; /* Adjust spacing on smaller screens */
    }
  
    .nav-item {
      padding: 10px; /* Larger touch targets on smaller screens */
    }
  }
  