/* Hero.css */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../images/deep.jpg') center/cover no-repeat;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures no overflow of background image */
}


.hero-items {  background-color:   clip-path: polygon(30% 0, 82% 2%, 73% 32%, 96% 71%, 92% 97%, 50% 100%, 30% 86%, 3% 95%, 11% 47%, 4% 17%);




  z-index: 2;
  max-width: 90%; /* Responsive max-width */
  text-align: center;
}

.hero-button {
  background-color: #e0741b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .hero-container {
    background-position: top center; /* Adjust background position on smaller devices */
    padding: 10px; /* Less padding on smaller devices */
  }

  .hero-items {
    width: 100%; /* Full width on smaller devices for better legibility */
  }
}