/* Hero.css */
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../images/bggimg.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensures no overflow of background image */
  }
  
  .hero-items {
    z-index: 2;
    max-width: 100%; /* Responsive max-width */
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
    position: fixed; /* Ensure the element is positioned fixed */
    cursor: grab;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  }
  
  .hero-items.dragging {
    transition: none; /* Disable transition during dragging */
  }
  
  .hero-items.minimized {
    width: 80px; /* Smaller width */
    height: 80px; /* Smaller height */
    opacity: 0.7;
    transform: scale(0.7); /* Scale down the size */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 50%; /* Circle shape for minimized state */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-items:not(.minimized) {
    width: auto;
    height: auto;
    opacity: 1;
    transform: scale(1); /* Scale back to normal size */
  }
  
  .hero-content {
    transition: opacity 0.3s, transform 0.3s; /* Smooth transition for content */
  }
  
  .hero-content.minimized {
    opacity: 0;
    transform: scale(0); /* Hide content when minimized */
  }
  
  .hero-content:not(.minimized) {
    opacity: 1;
    transform: scale(1); /* Show content when not minimized */
  }
  
  .hero-button {
    background-color: #ffdd00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #0056b3;
  }
  
  h1:hover {
    color: #3498db;
    transition: color 0.3s;
  }
  
  p:hover {
    background-color: #f8f9fa;
    transition: background-color 0.5s;
  }
  
  .hero-items:active {
    cursor: grabbing;
  }
  
  .hero-container:hover .hero-items:not(.dragging):not(.minimized) {
    transform: scale(1.05); /* Slightly enlarges the items on hover */
  }
  
  @media (max-width: 768px) {
    .hero-container {
      background-position: top center; /* Adjust background position on smaller devices */
      padding: 10px; /* Less padding on smaller devices */
    }
  
    .hero-items {
      width: 100%; /* Full width on smaller devices for better legibility */
    }
  }
  