/* TimePicker.css */
/* Style for the input */
.flatpickr-input {
    width: 85%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #333;
}

/* General styles for the flatpickr calendar */
.flatpickr-calendar {
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Style for the time controls */
.flatpickr-time {
    background: #f0f0f0;
    padding: 5px;
    border-top: 1px solid #ddd;
}

/* Style for time input within the picker */
.flatpickr-time input {
    text-align: center;
    padding: 8px 10px;
    border-color: #bbb;
}

/* Hover states for buttons */
.flatpickr-calendar .flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month:hover {
    background: #b70e08;
    color: white;
}



@media (max-width: 768px) {
    .flatpickr-calendar {
        width: 90%;
        left: 5%;  /* Center the picker */
        right: 5%;
    }
}
